<div class="welcome">


<h1>Mina Shoe Store</h1>

<p>Od samog početka postojanja kompanije nastojali smo graditi snažan i  prepoznatljiv brend.
 
    Počeli smo, sada već davne, 1990. godine U Vrbasu. U srcu Bačke otvorena je prva prodavnica Obuće Metro, dok danas nakon 30 godina uspešnog rada brojimo preko 100 prodavnica koje možete posetiti u svakom gradu širom Srbije a odnedavno smo proširili tržište u Republici Hrvatskoj, Bosni i Hercegovini i Crnoj Gori.
    
    
    Danas je Obuća Metro postala jedan od omiljenih brendova u zemlji i regionu.
    
    
    Naš asortiman obuhvata široki izbor obuće za muškarce, žene i decu, modne dodatake, kao i veliki izbor tekstila.
    
    
    Budući da svaki potrošač ima svoje jedinstvene potrebe i želje, naša misija se bazirala da odgovaramo na zahteve potrošača  i gradimo odnos na obostranom poverenju.
    Vođeni idejom da budemo drugačiji i bolji, trudimo se da iznenadimo naše potrošače najrazličitijim modelima cipela, od jednostavnih do ekstravagantnih. U cipele se zaljubljujemo, one menjaju naše raspoloženje, govore o stilu i stavu , zato je Obuća Metro Vaš siguran partner!
    
    
    Razlog našeg dosadašnjeg i budućeg postojanja jeste Vaše ukazano poverenje i zadovoljena očekivanja. Želimo da koračate sigurno i smelo i da zajedno stvaramo korake koji vode u bolju budućnost.
     
    
    Izaberite pravi model za sebe i ostanite u trendu.</p>

        
        <a href = "/cipele" class="dugme">Pogledajte nasu ponudu</a>

    

    </div>
